<section class="border-2 border-indigo-800 p-6 w-1/2 mx-auto my-8 rounded-2xl shadow-gray-200 shadow-2xl">
    <div class="w-[80%] mx-auto">

        <!-- verify email -->
        @if (steps=== 1) {
        <form class=" my-5" action="" [formGroup]="verifyEmail" (ngSubmit)="emailVerification()" >
            <h2 class="gradient-text font-bold underline-offset-2 mb-10 text-3xl text-center">Verify Your Email</h2>


            <!-- email -->
            <div class="relative mb-5">
                <input
                formControlName="email"
                type="email"
                id="email"
                class=" block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-500 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-indigo-500 focus:outline-none focus:ring-0 focus:border-indigo-600 peer" placeholder="" />
                <label for="email" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-50 dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-indigo-600 peer-focus:dark:text-indigo-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">E-mail</label>
            </div>

            <!-- validation -->

            @let emailVal = verifyEmail.get('email');

            @if (emailVal?.touched && emailVal?.errors)   {
                    <div class="flex p-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <div>
                            <ul class="mt-1.5 list-disc list-inside">
                                @if (emailVal?.getError('required')) {

                                    <li>E-mail is a required field</li>
                                }
                                @if (emailVal?.getError('email')) {

                                    <li>Please enter a valid E-mail address</li>
                                }
                            </ul>
                        </div>
                    </div>
            }

            <button class="main-btn ">Verify My Email</button>

        </form>
    }

        <!-- verify code -->

        @if (steps===2) {

            <form class=" my-5" action="" [formGroup]="verifyCode" (ngSubmit)="otpVerification()" >
                <h2 class="gradient-text font-bold underline-offset-2 mb-10 text-3xl text-center">Verify Your Code</h2>
    
    
                <!-- code -->
                <div class="relative mb-5">
                    <input
                    formControlName="resetCode"
                    type="tel"
                    id="resetCode"
                    class=" block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-500 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-indigo-500 focus:outline-none focus:ring-0 focus:border-indigo-600 peer" placeholder="" />
                    <label for="resetCode" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-50 dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-indigo-600 peer-focus:dark:text-indigo-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Your one-time code</label>
                </div>
    
                <!-- validation -->
    
                @let otp = verifyCode.get('resetCode');
    
                @if (otp?.touched && otp?.errors)   {
                        <div class="flex p-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <div>
                                <ul class="mt-1.5 list-disc list-inside">
                                    @if (otp?.getError('required')) {
    
                                        <li>Please Write The One Time Code</li>
                                    }
                                </ul>
                            </div>
                        </div>
                }
    
                <button class="main-btn">Verify OTP</button>
    
            </form>

        }

        
        <!-- resetpass -->

        @if (steps=== 3) {


            <form class=" my-5" action="" [formGroup]="resetPassword" (ngSubmit)="newPassword()" >
                <h2 class="gradient-text font-bold underline-offset-2 mb-10 text-3xl text-center">Reset Your Password</h2>
    
    
                <!-- email -->
                <div class="relative mb-5">
                    <input
                    formControlName="email"
                    type="email"
                    id="email"
                    class=" block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-500 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-indigo-500 focus:outline-none focus:ring-0 focus:border-indigo-600 peer" placeholder="" />
                    <label for="email" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-50 dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-indigo-600 peer-focus:dark:text-indigo-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">E-mail</label>
                </div>
    
                <!-- validation -->
    
                @let resetPassEmail = resetPassword.get('email');
    
                @if (resetPassEmail?.touched && resetPassEmail?.errors)   {
                        <div class="flex p-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <div>
                                <ul class="mt-1.5 list-disc list-inside">
                                    @if (resetPassEmail?.getError('required')) {
    
                                        <li>E-mail is a required field</li>
                                    }
                                    @if (resetPassEmail?.getError('email')) {
    
                                        <li>Please enter a valid E-mail address</li>
                                    }
                                </ul>
                            </div>
                        </div>
                }
    
    
                <!-- password -->
                <div class="relative mb-5">
                    <input
                    formControlName="newPassword"
                    type="password"
                    id="newPassword"
                    class=" block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-500 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-indigo-500 focus:outline-none focus:ring-0 focus:border-indigo-600 peer" placeholder="" />
                    <label for="newPassword" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-50 dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-indigo-600 peer-focus:dark:text-indigo-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Reset Password</label>
    
                </div>
    
                <!-- validation -->
    
                @let newPass = resetPassword.get('newPassword');
    
                @if (newPass?.touched && newPass?.errors)   {
                        <div class="flex p-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <div>
                                <ul class="mt-1.5 list-disc list-inside">
                                    @if (newPass?.getError('required')) {
    
                                        <li>Password is a required field</li>
                                    }
                                    @if (newPass?.getError('pattern')) {
    
                                        <li>Password has to be at least 8 characters long</li>
                                    }
                                </ul>
                            </div>
                        </div>
                }
    
                <button class="main-btn text-center">Reset My Password</button>
    
    
    
    
    
    
            </form>
        }

    </div>

</section>